.all{
    display: flex;
    flex-wrap:inherit ;
    margin-top: -220px;
}
#image{
    z-index: 0;
    
}
#changeNextButton,#changeLastButton
{
    z-index: 1;
    color: blue;
    font-size: 16px;
    padding: 10px;
    display: block;
    border: 5px solid blue;
    border-radius: 50%;
    
}
#changeLastButton{
    margin-left: 60%;
}
#changeNextButton{
    margin-left: 18%;
}
.listproduct{
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    
}

.product{
    margin-top: 250px;
    margin-left: 10%;
}
